<!--<div *ngIf="!appadmin"> -->
<h1> Welcome to Kitchen Story , an E-commerce portal</h1><br>
<table border="1">

<tr>
 <td><a routerLink="/register">Register</a></td>
 <td><a routerLink="/login">Signin</a></td>

</tr>



</table>
<!--</div> -->


<!--<div *ngIf="appadmin">
    <h1>Hi {{user.uname}} Welcome to Admin backend</h1>

    <ul>
      <li><a routerLink="/changepwd">Change Password</a></li><br>
      <li><a routerLink="/listofitems">Get Master List of food items</a></li><br>
      <li><a routerLink="/additems">Add food items</a></li><br>
      <li><a routerLink="/removeitems">Remove Food items</a></li><br> 
    
    </ul>




</div> -->
<router-outlet></router-outlet>